.dashboard-content {
  padding: 1rem;
}

app-stats-card{
    padding-top: 1rem;
    padding-right: 2rem;
} 
.fast-stats{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chart-container{
width: 32rem;
height: fit-content;
}
