<table mat-table 
       [dataSource]="dataSource" 
       cdkDropList 
       cdkDropListOrientation="horizontal" 
       (cdkDropListDropped)="drop($event)">

  <ng-container *ngFor="let col of columns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef cdkDrag>
    {{ labelMap[col] || col }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element[col] }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"  [attr.data-role]="row.role"></tr>
</table>
