
@use '@angular/material' as mat;

.table-container{
  margin: 1.5rem;
padding: 1.5rem;
background: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 12px;
}
table {
  width: 100%;
   @include mat.table-overrides((
  header-headline-size:1.5rem,
  header-headline-weight: bold
  ));
  
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
}
.avatar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}