<div class="table-container">
  <h2>{{title}}</h2>
<div class="toolbar">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>

  <button (click)="onAdd()" class="add-button">
    Add new
  </button>
</div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSource" matSort>
      
      <ng-container *ngFor="let col of columns" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ labelMap[col] || col }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="col">
          <div *ngSwitchCase="'avatar'" class="avatar-cell">
          <img [src]="element[col]"
              [alt]="element.name"
              width="40"
              height="40"
              style="border-radius: 50%" />
        </div>
    <div *ngSwitchCase="'Actions'" class="actions-cell">
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit(element)">
          <mat-icon>edit</mat-icon> Edit
        </button>

        <button mat-menu-item (click)="onDelete(element)">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </mat-menu>
    </div>

        <span *ngSwitchDefault>{{ element[col] }}</span>
      </ng-container>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="columns.length">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users">
</mat-paginator>
</div>
</div>
