$dashboard-bg:#f2f3f4;

.container {
  max-width: 100%;
  padding: 1rem;

}
.spacer {
  flex: 1 1 auto;
}

app-stats-card{
    padding-top: 1rem;
    padding-right: 2rem;
} 
.fast-stats{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-list{
  padding: 1.5rem;
     margin: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.75rem;
    h3{
      font-size: 1rem;
      text-align: center;
    }
}

  .rank {margin:1rem;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f8e5c1;
    color: #101720;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }