/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Nunito", sans-serif;
      font-size: 0.875rem;
}
h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #101720;

  h1 & {
      padding-top: 1.5rem;
    font-size: 2rem;
  }

  h2 & {
      padding-top: 0.5rem;
    font-size: 1.5rem;
  }
}
span{
  font-family: "Nunito", sans-serif;
    font-size:1rem;
}