$toolbar-color:#ffffff;

mat-toolbar{
    background-color: $toolbar-color;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}