
$toolbar-color:#ffffff;

mat-toolbar{
    background-color: $toolbar-color;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
mat-menu{
  max-width: fit-content;
}
.fill-remaining-space {

  flex: 1 1 auto;
}
button {
    padding: 10px;
    border: none;
    background-color: white;
    color: #44a5fa;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      color: #173753;
    } }