<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <div class="user-app-menu">

    <img src={{avatarUrl}} alt="avatar" class="rounded-circle me-2" width="40" height="40">
    <span class="username">{{fullName}}</span>
    <!-- Botón del menú -->
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menú desplegable -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <a (click)="onSignOut()"><span>Sign out</span></a>
  </button>
</mat-menu>
