.settings-container {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    input, select {
      padding: 0.5rem 0.8rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.2s;

    }
  }

  .avatar-upload {
    .avatar-preview {
      margin-top: 0.5rem;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #3b82f6;
      }
    }
  }

   .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #44a5fa;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #173753;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

}
}
