
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="settings-form">
    
    <div class="form-group">
      <label for="email">Email</label>
      <input  id="email" type="email" formControlName="email" placeholder={{email}} />
    </div>
    <div class="form-group">
      <label for="name">Full Name</label>
      <input id="name" type="text" formControlName="name" placeholder={{fullName}} />
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter new password"
        minlength="6"
        autocomplete="new-password"
      />
      <div class="error" *ngIf="profileForm.get('password')?.hasError('minlength') && profileForm.get('password')?.touched">
        Password must be at least 6 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="Repeat new password"
        autocomplete="new-password"
      />
      <div class="error" *ngIf="profileForm.hasError('passwordMismatch') && profileForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </div>
    </div>



    <button type="submit" class="submit-button" [disabled]="profileForm.invalid">Save Changes</button>
  </form>