@use '@angular/material' as mat;

mat-card{
    display: inline-flex;
    width: 20rem ;
    text-align: left;
background-image: linear-gradient(to top, #ffffff 0%, #f8e5c1 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: fit-content;
    padding-bottom: 1rem;
}
.mat-mdc-card-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: #101720;
}
.data-subtitle{
    font-family: "Nunito", sans-serif;
    font-weight: lighter;
    color: #666666;
      font-size: 1rem;;
}
.data{
    margin-top: 0.5rem;
    font-size: 1.75rem;
    color: #101720;
}
mat-icon{
    flex-shrink: 0;
    padding-bottom: 0.4rem;
    height: auto;
    vertical-align: middle;
}