$sidenav-color:#173753;


.mat-sidenav-container{
    background: radial-gradient(circle at top left, #173753, #1c1c1d 70%);
    height: 100%!important;
    width: 100%!important;
}



#stockdash_logo {
  max-height: 13rem;
  width: auto;
  display: block;
  margin: 0 auto; // centrado del logo
}
mat-nav-list a[mat-list-item] span{
    color: white;
    padding-left:0.5rem ;
}

mat-icon{
    color: white;
    flex-shrink: 0;
    padding-bottom: 0.4rem;
    height: auto;
    vertical-align: middle;
}
span{
    font-size: 1.25rem;
}
